.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--colour-main-blue-800);
}
.buttonLabel {
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 18px;
  font-weight: 500;
  color: inherit;
  z-index: 1;
}
.buttonbuttonsmallfilledCop,
.elementbuttonsmallfilledCo {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.elementbuttonsmallfilledCo {
  border-radius: var(--corner-medium);
  padding: var(--padding-6xs) 0;
  position: relative;
}
.buttonbuttonsmallfilledCop {
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--colour-secondary-white-100-general);
  font-family: var(--paragraph-regular-16);
}
