.frameInput {
  margin: 0;
  align-self: stretch;
  flex: 1;
}
.allLevels,
.thisSessionIs {
  align-self: stretch;
  position: relative;
}
.allLevels {
  font-weight: 600;
}
.thisSessionIs {
  font-size: var(--font-size-xs);
}
.frameParent {
  height: 133px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.featureItems,
.featureList,
.features {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.featureItems {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--colour-secondary-white-100-general);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-7xl) var(--padding-3xl) var(--padding-7xl)
    var(--padding-4xl);
  min-width: 244px;
  max-width: 291px;
}
.featureList,
.features {
  justify-content: center;
  max-width: 100%;
}
.featureList {
  width: 1177px;
  flex-wrap: wrap;
  gap: var(--gap-8xs-3);
}
.features {
  align-self: stretch;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--paragraph-regular-16-size);
  color: var(--labels-primary);
  font-family: var(--font-poppins);
}
